{% extends 'base_layout.html' %}

{% block content %}

{% include "navbar.html" %}

<div class="container" style="margin-top:20px;">
    <div class="columns">
        <div class="column is-6">
            <h1 class="title is-4">Tasks <a href="{% url 'tasks:create' %}" style="margin-left:5px;"><i class="far fa-plus-square fa-sm"></i></a></h1>
            <hr>

            {% if tasks|length == 0 %}
                <p class="subtitle is-5 has-text-centered">No tasks found.</p>
            {% else %}
                <table class="table is-striped  is-hoverable is-fullwidth">
                    <thead>
                        <tr>
                            <th>Sr. No</th>
                            <th>Task</th>
                            <th>Assignee</th>
                            <th>Created by</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for task in tasks %}
                        <tr>
                            <td>{{forloop.counter}}</td>
                            <td>{{task.title}}</td>
                            <td>{{task.assigned_to}}</td>
                            <td>{{task.created_by}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}

        </div>
    </div>
</div>
{% endblock %}